body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #333;
}

section {
  margin: 30px auto;
  max-width: 800px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: #333;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}


.skills {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skills li i {
  font-size: 24px;
  margin-right: 10px;
}

/**/
.container {
  max-width: 800px;
  margin: auto;
}




h2 i {
  font-size: 32px;
  margin-right: 10px;
}

/*
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  */
ul li {

  align-items: center;
  margin-bottom: 10px;
}

ul li i {
  font-size: 24px;
  margin-right: 10px;
}


.perfil-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.perfil-texto {
  width: 70%;
}

.perfil-imagen {
  width: 25%;
  float: right;
}

.perfil-imagen img {
  width: 100%;
  border-radius: 30px;
}